<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
</head>
<body>

<h1>User input</h1>
<form action="record" method="post">
<label for="firstname">Order Product :</label> <br/>
<input type="text" name="orderProduct"/> <br/>

<label for="lastname">Amount:</label> <br/>
<input type="number" name="amount"/> <br/>

<label for="email">Email :</label> <br/>
<input type="email" name="email"/> <br/>

<label for="dob">purchase Date :</label> <br/>
<input type="date" name="timeStamp"/> <br/>

<!--<label for="password">Password :</label> <br/>
<input type="password" name="passwd"/> <br/>-->

<!--<label for="gender">Gender :</label> <br/>
<select name="gender">
		<option value=""></option>
		<option value="male">Male</option>
		<option value="female">Female</option>
</select>-->
<br/>
<button type="submit">Submit</button>
</form>
<br/>

</body>
</html>